extends layout

block content
  include includes/header.pug
  .section
    .spacer
    h1.section__header About Us

    .section__text
      h2 Who We Are
      p $tone Motherless Racing (SMR) is the one-stop shop for the DeRace ecosystem. Our goal is offer every advantage within the game and help members connect far beyond it in other corners of the metaverse and real life. We offer a suite of services that allow you to conveniently find, race, breed, trade, or stake your NFT horses.

    //- .section__text
      h2 A Warm Welcome
      p Inclusivity is this DAO's core focus when it comes to its members. The average person in this space cannot afford to spend 25,000 or even 5,000 ADA on a digital art piece. By becoming a member of RatsDAO, you are immediately exposed to wide variety of blue-chip NFTs and DeFi assets.
      p.vr By being a part of RatsDAO you are then immediately invited and encouraged to participate in the discourse of NFT and DeFi focused investment strategies. Once an NFT is purchased, RatsDAO members then hold the rights to how to utilize that asset. Whether it be fractionalization, lending, or selling back to the open market. The future of that asset is ultimately in the hands of you.

    //- .section__text
      h2 What's Next
      p This is only the beginning for Rats. As our community, treasury, and capabilities grow we will naturally expand into the increasing DeFi space. The opportunities are endless, and this journey is not expected to be a short one.
