extends layout

block content
  include includes/header.pug
  .section
    .spacer
    h1.section__header About Us

    .section__text
      h2 Who We Are
      p $tone Motherless Racing (SMR) is the one-stop shop for the DeRace ecosystem. Our goal is offer every advantage within the game and help members connect far beyond it in other corners of the metaverse and real life. We offer a suite of services that allow you to conveniently find, race, breed, trade, or stake your NFT horses.