extends layout

block content
  include includes/header.pug

  #main.section
    .spacer
    h1 SMR Academy
    .section__text
      a.btn.vr(href="https://academy.smracing.io", target="_blank", rel="noreferrer noopener") SMR Academy