extends layout

block content
  include includes/header.pug

  .hero
    .hero-cover
    .hero__content
      h1(data-aos="fade-in", data-aos-duration="800") $tone Motherless Racing
      h3(data-aos="fade-in", data-aos-delay="600", data-aos-duration="800") DeRace services and analytics at your fingertips.
      //- div(data-aos="fade-in", data-aos-delay="1200", data-aos-duration="800")
        a.btn.vr(
          href="https://www.jpg.store/collection/ratsdao",
          rel="noopener noreferrer",
          target="_blank"
        ) Join

  .section
    .section__text.welcome__spacer
      .welcome
        img.icon(src="/img/logo_transp.png")
        h2 Welcome to $tone Motherless Racing
        p $tone Motherless Racing (SMR) is the one-stop shop for the DeRace ecosystem. Our goal is offer every advantage within the game and help members connect far beyond it in other corners of the metaverse and real life. We offer a suite of services that allow you to conveniently find, race, breed, trade, or stake your NFT horses.

    .section__text
      h2 Our Services
      .cards.halfvr
        .card.section__subsection
          h3 Academy
          p SMR Academy gives you an unparalleled advantage as you train and race your DeRace horse(s) on the blockchain. We save you time, energy, and money in the DeRace Play2Earn economy.
        .card.section__subsection
          h3 Stable
          p SMR Stable is where DeRace horse enthusiasts find, breed, buy, rent, trade, stake, or equip their NFT horses. SMR Stable saves you time and effort, minimizes risk, offers important information, and helps you build your personal stable win in the DeRace ecosystem.
        .card.section__subsection
          h3 Club
          p SMR Club facilitates interaction and cohesion between all other departments of SMR by welcoming new members, communicating team goals, and focusing on the advancement of the SMR brand. We envision SMR Clubbers sharing alpha in Discord, building GameFI and IRL businesses together, trading NFTs and art, sponsoring exclusive IRL events, and having a great time.
        .card.section__subsection
          h3 Team
          p SMR Team competes against other teams and guilds inside the DeRace ecosystem. DERCArmy competitions and sponsored DeRace races are our bread and butter, but other opportunities will present themselves. We leverage all SMR resources to set records, win prizes, and emblazon the SMR brand deep in the memory banks of the metaverse.
        .card.section__subsection
          h3 Pool
          p We know that we can do more together. Trustfully pooling resources has been a marquee of the SMR culture from SMR’s inception. SMR Pool provides spaces to give and receive in passive ways by contributing resources that strengthen SMR members and SMR success.
        .card.section__subsection
          h3 Betting
          p The DeRace Roadmap includes gambling elements. The SMR Partners/owners will pay special attention to this aspect of the DeRace future with the potential of launching our own services and resources who want to use SMR’s elite data and analytics capacity for side bets and wagers.