extends layout

block content
  include includes/header.pug

  #main.section
    .spacer
    h1.section__header Lite Paper

    .section__text
      //- h2 Introduction
      p DeRace is a decentralized blockchain-based racehorse platform that connects millions of racehorse enthusiasts to a play-to-earn game where community members can breed, rent, and race non-fungible token (NFT) horses for profit.
      p.vr DeRace is a combination of 2 significantly growing multi-billion-dollar markets, video gaming and horse racing, using blockchain and NFT technologies.
      p.vr The DeRace ecosystem has been developing since Q4 2021, and adds new features every month. Members of the DeRace community and ecosystem have already emerged. For example, DERCArmy is a community of DeRace enthusiasts who organized into team competitions beginning early Q1 2022. Deracing.org was launched in late Q1 2022 to provide data and statistics to members of the DeRace community about their horse.
      p.vr $tone Motherless Racing (SMR) is the one-stop shop for the DeRace ecosystem. Our goal is offer every advantage within the game and help members connect far beyond it in other corners of the metaverse and real life. We offer a suite of services that allow you to conveniently find, race, breed, trade, or stake your NFT horses.
      p.vr
        strong As the community grows, we envision hosting a Club and gathering place for DeRacers and friends, as well as a suite of services available to clients who want to have fun enhancing the quality of their decision-making and winning in the DeRace Play2Earn ecosystem.
      p.vr The organizational structure of SMR…

    //- .section__text
    //-   h2 Context
    //-   p The first RatsDAO Genesis token started minting on December 23, 2021. In the last two months we experienced tremendous growth and became a game changer in the CNFT community. We achieved a treasury valued at more than 1,200,000 ADA. Our NFT is in the top 20 sales of all time in the secondary market with over 1.7M ADA and we finished the first stage of our native Token airdrop appropriately denominated as $RAT.
    //-   p.vr We are also one of the first DAOs to operate on Cardano and the first to purchase native Cardano blue chip NFTs, like Berry, SpaceBudz, Clay Nation and PXL. We are an organization of over 4,500 members. We are a part of the Cardano Community and have a treasury currently valued at over 1,200,000 ADA with a collection of NFTs: including, the Berry Cardinal, 33 SpaceBudz, 52 DEADPXLs, 4 Clay Budz, 81 Clay Mates by Clay Nation, 16 Clay Nation x GC, 10 Yummi Universe Narus, 24 plots on Artifct Moon, 16 Eggvolution, an estate in Pavia, more than 100,000 ADA and an assortment of DeFi Tokens. This collection will only grow from here.
    //-   p.vr We started a completely new project on Cardano, and that means that all the tools that we need to develop our project are not currently at our disposal. That is why we are partnering with ADAO and working with developers to create new governance tools that have not existed on Cardano until now. We are promoting the growth of a new Cardano DAO ecosystem. Our most important goal is building Layer 0: the community.

    //- .section__text
    //-   h2 Rationale
    //-   p With the Rat Paper proposed by the team, we want to move from this foundational stage of RatsDAO and transition towards the largest DAO in the Cardano NFT ecosystem - both scalable and decentralized.
    //-   p.vr From a strategic point of view, being the largest brings great advantages that would allow us to be protagonists in the evolution of this space. We believe that RatsDAO can achieve great things, in order to fully do so, we need to be a true representative of the Cardano ecosystem.
    //-   p.vr The Ratpaper introduces a new concept, at the beginning we saw the value of the project in terms of scarcity of the NFTs. The incentive to buy Clay Nation or SpaceBud, for example, is that they are an original collection and there will never be more than 10,000. We replicated that concept in version 1.0 of the Whitepaper. But the truth is that for a DAO there is no need to limit the number of members.
    //-   p.vr RatsDAO can be scalable and become a larger DAO by opening the doors to any new member who wants to join in the future with the ability to mint the NFT directly or buy from the secondary market. According to opencnft.io, at the time of drafting this document about 1.7 million ADA was traded on the Rats NFT secondary market; that 1.7 million ADA could have gone to the DAO' s Treasury by allowing new members to participate in the minting of more NFTs.
    //-   p.vr The true value of RatsDAO is reflected in the $RAT token, not the NFT. The more NFTs made available, the higher the treasury and the higher the value of $RAT. Cardano is not limited to a maximum wallet amount, staking pools or members. Scarcity and maximum issuance are in ADA. As more members join RatsDAO, it is advantageous for current holders who already received $RAT and will receive a higher percentage per airdrop.
    //-   p.vr We have to keep in mind that the NFT was thought to be not only a financial asset but also a Social Key Component of the DAO. We can onboard as many people as possible without affecting the scarcity of the $RAT token.
    //-   p.vr.color So we present the following whitepaper, the minting strategy for RatsDAO and the impact it may have in the wealth creation process for Rats token holders. We included different changes discussed with the community, regarding the minting strategy and a drastic reduction of the Team political and economical influence. Reducing the minting profits gradually, reducing the royalties and $RAT grants will decrease the team's influence over the DAO. This decision is in order to build a large and more decentralized DAO in the Cardano ecosystem.

    //- .section__text
    //-   h2 Why NFTs?
    //-   p The material world is ruled by governments, the nation-states, and corporations. The digital world, the internet, is ruled by less than ten big corporations. People didn't have power over social networks, emails or any digital assets, until decentralized blockchains gave people the possibility to become owners of their lives and digital properties.
    //-   p.vr NFTs are maybe the most important of those digital properties. Bringing humanity the opportunity of becoming free of the corporations who control our digital lives. That's why we think NFTs will change the world, having a faster adoption than blockchain's native tokens. The NFT market never stops, thanks to the increasing number of admirers of this new form of art and collecting. It was only a year ago, with the Mary hard fork, when native assets were allowed
    //-   p.vr and Alessandro Berry created the Berry, a collection of 100 NFTs and the first NFT project on Cardano.
    //-   p.vr In just one year of Cardano NFTs, hundreds of new projects were created. But this is just the beginning, we are preparing ourselves for a decade of NFTs, not only on Cardano, but also on other blockchains.
    //-   p.vr The NFTs will change the world and will be a fundamental key to creating Web 3.0.

    //- .section__text
    //-   h2 Why Cardano?
    //-   p RatsDAO supports decentralization and we believe that decentralized blockchains have a lot of potential. Bitcoin, Ethereum and Cardano are the most important blockchains and will keep growing and becoming more adopted by people around the world. With the rise in economic destabilization and threat of war in the global purview, we see that banks and governments are confiscating citizen's money and the only way to have financial freedom is to use decentralized protocols to protect our wealth.
    //-   p.vr Cardano is a proof-of-stake, sustainable and open source blockchain, with a big focus on interoperability, security and scaling using a solid foundation of peer-reviewed data. Cardano is one of the few blockchains that has a solid community building on it. No matter the value of ADA, there is a true conviction that Cardano has a lot to offer to the people in the world suffering from economical problems.
    //-   p.vr Cardano is our Nation.

    //- .section__text
    //-   h2 Why a DAO?
    //-   p Decentralized Autonomous Organizations (DAOs) are digitally native communities that center around a shared mission.
    //-   p.vr Decentralized, because they are owned by the community, driven by the members, and organized horizontally, in contrast to hierarchical and bureaucratic traditional organizations. Autonomous, because rules and treasuries are coded on the blockchain. Organizations, because there are groups of people organized under a new managerial paradigm who share purpose, a.k.a the same mission and goals. DAOs coordinate capital and people in order to bring value to the whole community.
    //-   p.vr DAOs will play a key role in blockchain and Web 3.0 development. DAOs are a worldwide trend in the present, but will keep evolving in the future. Without DAOs, the Cardano ecosystem is not complete, and we are very bullish on all of the possibilities for DAOs.
    //-   p.vr DAOs are supranational, because they are outside any single nation state jurisdiction.
    //-   p.vr If NFTs are the Future of the Internet, DAOs are the Future of Work
    //-   p.vr The creation of this initial treasury, the minting of 10,000 governance NFTs, and this growth of RatsDAO is just the beginning, not the end game. Our goal is to not only be a tool for those who are already in this early stage of Cardano and DAOs, but also to onboard more people to NFTs and the Cardano ecosystem. In 2022 and the upcoming years hundreds and thousands of people will come to Cardano

    //- .section__text
    //-   h2 Rat Governance
    //-   p In traditional organizations, decision-making happens with a small group of executives dictating decisions. Contrary to this standard, the DAOs operate through a bottoms-up flow, where decisions are made through majority consensus. This does not mean that every single decision should involve the whole community, not any holder can be 24hs available to make a decision and vote and propose everything.
    //-   p.vr Being a grassroots-driven community doesn't mean that there aren't leaderships or hierarchies inside the DAO. But these leaderships and hierarchies are specific and are based on the knowledge everyone has. Devs will make codes and will make decisions. Members who know a specific NFT collection will have more power deciding which specific NFT to make better purchase decisions.
    //-   p.vr Not every holder is necessarily involved with every single decision. Decision-making happens within concentrics rings, from Soft Consensus to Hard Consensus. Currently 100% of decision making is on Discord, and the goal is to transition to a smart contract-based governance system, fully on-chain. Again, this doesn't mean that any single decision has to be voted on chain, and we can use Soft Consensus on every day decision making. Soft Consensus, allows DAO to make quick decisions and prevent us from becoming a stunted bureaucratic organization.

    //- .section__text
    //-   h2 Two Layered DAO
    //-   h4 Non-Fungible Token RAT
    //-   p RatsDAO NFT is the Non Fungible Token which gives the owner access to RatsDAO. It functions as a membership card. There are 10,000 members' governance tokens distributed in more than 4,500 wallets: 1,000 Genesis and 9,000 Governance. There will be no more Genesis or Governance tokens. Each token currently represents one vote in the RatsDAO Discord, and grants access and property over the RatsDAO Treasury. Without the NFT you are not a RatsDAO member, you lose your rights over the DAO's assets, and your voting power.
    //-   p.vr Rat Paper v2.0 introduces a new category: Member NFT. This category would be scalable and unlimited, opening the door to any new members who want to join RatsDAO in the future with the possibility to mint the NFT directly or purchase in the secondary market. The minting details of the Member NFT are addressed in the “Minting Strategy” section of this document.
    //-   p.vr Similarly to the first 10,000 members' Genesis and Governance NFTs, a subset of the new Member NFTs will be eligible for the $RAT airdrop. The airdrop details are also addressed in the “$RAT Airdrop” section of this document.
    //-   p.vr All NFTs will be eligible for staking, and will receive the same amount of $RAT by staking, but the value of the $RAT token would be more valuable as the value of treasury also increases. The “Staking” section of this document goes into more details about the rewards and schedule.

    //-   h4.vr Fungible Token $RAT
    //-   p $RAT is the reward that RatsDAO members receive via airdrop and by staking the NFT. This token has a fixed supply of 100,000,000 and there will never be more than this amount regardless of the number of members or NFTs that are minted.. The voting power and the possibility of making proposals with the on-chain governance system will be based on $RAT.
    //-   p.vr The value of $RAT should reflect more or less the value of the Rats Treasury. Is a way to invest in Berry, SpaceBudz, Clay Nation, PXL and more blue-chips.

    //- .section__text
    //-   h2 Minting Strategy
    //-   p Having completed the minting of the first 10k NFTs, we are now in the position to decide the strategic route to minting future RatsDAO membership NFTs.
    //-   p.vr For clarification:
    //-   ul
    //-     li
    //-       strong Member Phase I
    //-       | : includes Genesis and Governance NFTs under the same policy.
    //-     li
    //-       strong Member Phase II and Phase III (Open Phase)
    //-       | : include Member NFTs under a separate policy.
    //-   p.vr The exact minting strategy will be voted and discussed by the DAO based on the discussions we are having and the different possibilities are:
    //-   p.vr
    //-     strong Option 0:
    //-   ul
    //-   li Member Phase II:
    //-     | &#32;
    //-     strong 10k NFTs
    //-     | &#32;
    //-     | in one or multiple minting stages
    //-   li Member Phase III:
    //-     | &#32;
    //-     strong Unlimited
    //-     | &#32;
    //-     | NFTs in one or more minting stages
    //-   p.vr
    //-     strong Option 1:
    //-   ul
    //-     li NO “Member Phase II”
    //-     li Member Phase III:
    //-       | &#32;
    //-       strong Unlimited
    //-       | &#32;
    //-       | NFTs available for mint
    //-   p.vr
    //-     strong Option 2:
    //-   ul
    //-     li Member Phase II:
    //-       | &#32;
    //-       strong 5k NFTs
    //-       | &#32;
    //-       | in one or multiple minting stages
    //-     li Member Phase III:
    //-       | &#32;
    //-       strong Unlimited
    //-       | &#32;
    //-       | NFTs in one or more minting stages

    //- .section__text
    //-   h2 $RAT Airdrop
    //-   p For the first minting phase (Member Phase I), there will be an additional airdrop of 10,000,000 $RAT tokens, an amount previously allocated to the “Grants for the community”. This airdrop will benefit both current and new members.
    //-   p.vr In the first airdrop, 5% of the total supply of $RAT was distributed amongst the 10,000 NFTs of Genesis and Governance members: each Governance received 277 $RAT and each Genesis received 2500 $RAT. With this proposal, Genesis Token Holders will receive an additional 2000 $RAT besides the 2.500 remaining airdrop, and Governance members will receive an additional 555 $RAT besides the 277 remaining airdrop.
    //-   p.vr A subset of the Member holders will receive 300 $RAT per NFT. Their eligibility for the airdrop is defined based on the minting strategy above that has been voted on by the DAO. Are eligible:
    //-   ul
    //-     li
    //-       strong Option 0:
    //-       | &#32;
    //-       span(style="font-style: italic") ONLY the holders of the first
    //-         | &#32;
    //-         strong 10k
    //-         | &#32;
    //-         | Member NFTs minted during the Member Phase II.
    //-     li
    //-       strong Option 1:
    //-       | &#32;
    //-       span(style="font-style: italic") ONLY the holders of the first
    //-         | &#32;
    //-         strong 10k
    //-         | &#32;
    //-         | Member NFTs minted during the Member Phase III (Open Phase).
    //-       p(style="font-style: italic")
    //-         | There is also a
    //-         | &#32;
    //-         strong cut-off date
    //-         | &#32;
    //-         | (TBD) above which the airdrop will trigger even if we minted less than
    //-         | &#32;
    //-         strong 10k
    //-         | &#32;
    //-         | Member NFTs.
    //-     li
    //-       strong Option 2:
    //-       | &#32;
    //-       span(style="font-style: italic") ONLY the holders of the
    //-         | &#32;
    //-         strong 5k
    //-         | &#32;
    //-         | Member NFTs minted during the Member Phase II.
    //-   p.vr As explained previously, in order to reward early adopters and also new members, we would add 10 Million $RAT tokens to the upcoming airdrop, divided as follows:
    //-   ul
    //-     li 2 million to Genesis token
    //-     li 5 million to current Governance tokens
    //-     li 3 million to new Member tokens

    //-   p.vr NFT number 20,001+ will not receive an airdrop, only staking rewards.

    //- .section__text
    //-   h2 Staking
    //-   p As a RatsDAO NFT holder you will be able to stake your NFT to earn more $RAT Token. The staking mechanism will operate similar to how you currently list your NFT on a smart market place like JPG.Store.
    //-   p.vr You will list your RatsDAO NFTs via smart contract which in return will earn you frequent amounts of $Rat Token.
    //-   p.vr A nice way to think of it is that your RatsDAO NFTs are like Rat Miners, the more Rat NFTs you have the more $RAT you can effectively mine and release. So in simple terms the more Rat Members, the more tokens which are collectively released. Also, the more Rats which are staking, the fewer there are on secondary markets.
    //-   p.vr Staking will commence once the final airdrops have been issued. Staking Rewards =
    //-     | &#32;
    //-     strong 450 $RAT Per Year

    //- .section__text
    //-   h2 Outlook
    //-   p The next table is an example of the distribution if we were able to mint 40k more following the Minting Strategy with
    //-     | &#32;
    //-     strong Option 0
    //-     | &#32;
    //-     | (10k Members + Unlimited):
    //-   table.vr
    //-     tr
    //-       th Destination
    //-       th # Tokens
    //-       th Airdrops
    //-       th Airdrop per token
    //-       th Reward per token per year
    //-       th Reward Year 1
    //-       th Reward Year 2
    //-       th Total distribution
    //-     tr
    //-       td Genesis
    //-       td 1,000
    //-       td 7,000,000
    //-       td 7,000
    //-       td 450
    //-       td 450,000
    //-       td 450,000
    //-       td 7,900,000
    //-     tr
    //-       td Governance
    //-       td 9,000
    //-       td 10,000,000
    //-       td 1,111
    //-       td 450
    //-       td 4,050,000
    //-       td 4,050,000
    //-       td 18,100,000
    //-     tr
    //-       td Phase II members
    //-       td 10,000
    //-       td 3,000,000
    //-       td 300
    //-       td 450
    //-       td 4,500,000
    //-       td 4,500,000
    //-       td 12,000,000
    //-     tr
    //-       td Phase III Members
    //-       td 30,000
    //-       td 
    //-       td 0
    //-       td 450
    //-       td 13,500,000
    //-       td 13,500,000
    //-       td 27,000,000
    //-     tr
    //-       td
    //-       td 50,000
    //-       td
    //-       td
    //-       td
    //-       td
    //-       td
    //-       td 65,000,000
    //-   p.vr
    //-     em * The additional 10 millions come from tokens that were allocated for community grants.

    //- .section__text
    //-   h2 Proceed Allocation
    //-   h4 NFT Minting Proceeds
    //-   p Following the Minting Strategy with
    //-     | &#32;
    //-     strong Option 0
    //-     | , proceeds generated by NFT Minting are distributed as follows:
    //-   table
    //-     tr
    //-       th Phase
    //-       th # NFTs Minted
    //-       th % Team and Devs
    //-       th % Treasury
    //-     tr
    //-       td Member Phase I
    //-       td 0-10 000
    //-       td 25%
    //-       td 75%
    //-     tr
    //-       td Member Phase II
    //-       td 10 001-20 000
    //-       td 20%
    //-       td 80%
    //-     tr
    //-       td Member Phase III (Open Phase)
    //-       td 20 001-30 000
    //-       td 15%
    //-       td 85%
    //-     tr
    //-       td Member Phase III (Open Phase)
    //-       td 30 001-40 000
    //-       td 10%
    //-       td 90%
    //-     tr
    //-       td Member Phase III (Open Phase)
    //-       td 40 001+
    //-       td 5%
    //-       td 95%
    //-   img.vr(
    //-     src="/img/mintingproceedsallocation.png",
    //-     alt="Visual representation of minting proceeds allocation as defined by the table above."
    //-   )

    //-   h4.vr Royalties
    //-   p Following the Minting Strategy with
    //-     | &#32;
    //-     strong Option 0
    //-     | , proceeds generated by Royalties (Second Market Sales) are distributed as follows:
    //-   table
    //-     tr
    //-       th Phase
    //-       th # NFTs Minted
    //-       th % Team and Devs
    //-       th % Treasury
    //-     tr
    //-       td Member Phase I
    //-       td 0-10 000
    //-       td 30%
    //-       td 70%
    //-     tr
    //-       td Member Phase II
    //-       td 10 001-20 000
    //-       td(rowspan="2") 20%
    //-       td(rowspan="2") 80%
    //-     tr
    //-       td Member Phase III (Open Phase)
    //-       td 20 001+
    //-   img.vr(
    //-     src="/img/royaltiesproceedsallocation.png",
    //-     alt="Visual representation of royalty proceeds allocation as defined by the table above."
    //-   )

    //-   h4.vr Money back to the DAO
    //-   p Overtime, we can see a decrease of the Team's allocations for both Minting and Royalties proceeds in favor of the DAO's Treasury.
    //-   p.vr Increasing the DAO's membership and its treasury is the main purpose to reach a bigger, more decentralized organization with minimal influence of the team.

    //- .section__text
    //-   h2 RatsDAO &amp; NFT Value Scenarios.
    //-   p Now we are going to share with you three scenarios, a poor case scenario, an ideal case scenario and an excellent case scenario. The only difference is by how much we multiply the initial investment.
    //-   p.vr Taking into account the price of $RATs for the first few weeks on the secondary markets, the community and the market seem to settle in the middle ground around the ideal case scenario.
    //-   p.vr The following numbers take into consideration the last airdrop, so Rats DAO NFT value only considers the remaining airdrops and staking rewards program.
    //-   p.vr In the next two charts we show valuation in the current state of affairs, with 10k Rats DAO NFTs minted, and in a tentative 50k Rats DAO NFT minted scenario.
    //-   p.vr Scenarios in current state of minting (10k NFT)
    //-   table
    //-     tr 
    //-       th Scenario (10k Rats)
    //-       th Total Treasury collect in ADA
    //-       th Value Multiple
    //-       th ADA Value Assets under DAO custodial
    //-       th ADA Value per RAT (total diluted)
    //-       th Floor Value per Genesis
    //-       th Floor Value per Member Phase I
    //-     tr
    //-       td Poor Case Scenario
    //-       td 1,337,500
    //-       td 5
    //-       td 6,687,500
    //-       td 0.067
    //-       td 472.33
    //-       td 321.93
    //-     tr
    //-       td Ideal Case Scenario
    //-       td 1,337,500
    //-       td 15
    //-       td 20,062,500
    //-       td 0.202
    //-       td 1,414.48
    //-       td 965.526
    //-     tr
    //-       td Excellent Case Scenario
    //-       td 1,337,500
    //-       td 45
    //-       td 60,187,500
    //-       td 0.606
    //-       td 4,243.43
    //-       td 2,896.57
    //-   p.vr Scenarios in future state of minting (50k NFT)
    //-   table
    //-     tr
    //-       th Scenario (50k Rats)
    //-       th Total Treasury collect in ADA
    //-       th Value Multiple
    //-       th ADA Value Assets under DAO custodial
    //-       th ADA per RAT (total diluted)
    //-       th Floor Value per Genesis
    //-       th Floor Value per Member Phase I
    //-       th Floor Value per Member Phase II
    //-       th Floor Value per Member Phase III
    //-     tr
    //-       td Poor Case Scenario
    //-       td 5,869,800
    //-       td 5
    //-       td 29,349,000
    //-       td 0.293
    //-       td 2,171.83
    //-       td 508.94
    //-       td 352.19
    //-       td 264.14
    //-     tr
    //-       td Ideal Case Scenario
    //-       td 5,869,800
    //-       td 15
    //-       td 88,047,000
    //-       td 0.880
    //-       td 6,515.48
    //-       td 1,526.83
    //-       td 1,056.56
    //-       td 792.42
    //-     tr
    //-       td Excellent Case Scenario
    //-       td 5,869,800
    //-       td 45
    //-       td 264,141,000
    //-       td 2.641
    //-       td 19,546.43
    //-       td 4,580.50
    //-       td 3,169.69
    //-       td 2,377.27
    //-   p.vr As you can see the value of $RAT and the value of Rats DAO NFTs increases in every scenario when additional minting is taken into account.
    //-   p.vr Considering current market conditions, having minted 50K NFTs, genesis tokens can be worth almost 6.5K ADA and Members Phase I more than 1.5K ADA.
    //-   p.vr Let's take into account that the value of $RAT on these tables is calculated over 100.000.000 $RAT, an amount that is not going to be in circulation any time soon.

    //- .section__text
    //-   h2 $RAT Distribution
    //-   p
    //-     strong Max Emission 100.000.000
    //-   ul
    //-     li 7% Airdrop to Genesis Member Holders
    //-     li 10% Airdrop to Governance Member Holders
    //-     li 3% Airdrop to Member holders
    //-     li 4% Airdrop Dev team
    //-     li 20% DAO Treasury
    //-     li 45% Staking NFT Rewards
    //-     li 10% Smart Contract Develop
    //-     li 1% Grants to the community
    //-   img.vr(
    //-     src="/img/rattokendist.jpg",
    //-     alt="Visual representation of rat token distribution as defined by the list above."
    //-   )

    //- .section__text
    //-   h2 Rats Lab
    //-   p Within this Rat Paper we also would like to offer an introduction and explanation to Rats Lab and the vision behind it.
    //-   p.vr Rat Labs is a project fully independent from RatsDAO, in regards to its funding and ownership. It's important to address this first, as we do not wish to create any confusion between the DAO and Rats Lab.
    //-   p.vr However, the intention is that the DAO will receive priority access to all Rats Lab projects, should the DAO wish to participate. Should it not wish to participate, the mints will be made available to the public.
    //-   p.vr Rats Lab will submit proposals on a project by project basis to the DAO to offer a percentage of minting income generated from Rats Labs sales revenue and to provide an exclusive whitelist option to Rats NFT Holders. The amount of the income which Rats Lab set for the DAO to receive will always be at the discretion of Rats Lab.
    //-   p.vr The aim of the Rats Lab is to provide new artists with a launchpad to offer their highest quality art directly to RatsDAO members. This will provide utility to the RatsDAO NFT and generate risk-free additional revenue to the RatsDAO treasury.
    //-   p.vr Rats Lab will be integrated into the main Rats Dao Discord under a section called Rats Lab, the intention here is that if the mint is made available as a public mint, it will generate new members and visitors to RatsDAO.

    //- .section__text
    //-   h2 Working Groups, Bounties, and Financial Opportunities
    //-   p Rats development will create opportunities for the community members. The DAO is a space for every member to contribute their abilities and capacities. DAOs are digital landscapes and can bring life changing opportunities for people willing to provide their time and effort for the community.
    //-   p.vr Rats DAO will develop working groups and members can volunteer to contribute to specific working groups in exchange for governance tokens. DAOs are permissionless, you don't need anyone's permission to join Rats, and you don't need anyone's permission to contribute and start.
    //-   p.vr A bounty system will be offered to allow any member to contribute their talents and knowledge in return for governance tokens. Additional project opportunities will present themselves and/or be proposed by members that will be rewarded in governance tokens.

    //- .section__text
    //-   h2 Members Benefits
    //-   p All new members will be created on a new Policy ID. This means Genesis & Governance NFT Tokens will be preserved as the Founding DAO members. This benefit will enable the DAO to decide how it wishes to utilize this as a potential utility for members.
    //-   ul
    //-     li Rats DAO members will have access to exclusive benefits, including whitelist priority for new art collections, airdrops and special auctions.
    //-     li Rats DAO members may also develop new projects in order to benefit the DAO and provide value for the rest of the community.
    //-     li We will collaborate with the most exciting projects to bring further member benefits in the form of giveaways or whitelisting opportunities.
    //-     li All members have access to the RatsDAO community and voting rights over the DAOs' assets.
    //-     li An Escrow service will be added to the Discord. 50% of escrow service proceeds will be directed to the Treasury.
    //-     li Through the Escrow Service you will also be able to sell and trade your $RAT token directly with other members for Ada or NFTs.
    //-     li Rats DAO NFT holders who stake with the 1Mate Staking Pool will receive double the raffle prize rewards. TICKER : 1MATE
