extends layout

block content
  include includes/header.pug

  #main.section
    .spacer
    h1.section__header Lite Paper

    .section__text
      h2.hr Purpose
      p.halfvr $tone Motherless Racing (SMR) is a resource hub, the one-stop shop for the DeRace ecosystem. We are developing a suite of services and resources that facilitate every advantage in the game and help users to profitably find, race, breed, trade, or stake DeRace NFT horses and in-game assets. We connect clients and members to increase their chances of success in the DeRace ecosystem, the metaverse, and beyond.

    .section__text
      h2.hr Context
      p.halfvr DeRace is a decentralized blockchain-based racehorse platform that connects millions of racehorse enthusiasts to a play-to-earn game. Community members can breed, rent, and race non-fungible token (NFT) horses for profit. 
      p.halfvr DeRace combines two multi-billion-dollar markets, video gaming and horse racing, with  blockchain and NFT technologies.
      p.halfvr The DeRace ecosystem has been developing since Q4 2021, and adds new features every month. Members of the DeRace community and ecosystem have already emerged. For example, DERCArmy is a community of DeRace enthusiasts who organized into team competitions beginning early Q1 2022. Deracing.org was launched in late Q1 2022 to provide data and statistics to members of the DeRace community about their horse.

    .section__text
      h2.hr Structure
      p.halfvr SMR is organized into six Projects: 1. Academy, 2. Stable, 3. Club, 4. Team, 5. Pool, and 6. Betting. These divisions are related but distinct. Members and clients can participate in one or all projects, depending on their goals. Each project operates with 3-tiered access and opportunities via NFT smart contracts. Project Manager(s) can become Partners of the SMR Leadership.
      .section__subsection.halfvr
        h3 Academy
        p SMR Academy gives you an unparalleled advantage as you train and race your DeRace horse(s) on the blockchain. We save you time, energy, and money in the DeRace Play2Earn economy.
      .section__subsection.halfvr
        h3 Stable
        p SMR Stable is where DeRace horse enthusiasts find, breed, buy, rent, trade, stake, or equip their NFT horses. SMR Stable saves you time and effort, minimizes risk, offers important information, and helps you build your personal stable win in the DeRace ecosystem.
      .section__subsection.halfvr
        h3 Club
        p SMR Club facilitates interaction and cohesion between all other departments of SMR by welcoming new members, communicating team goals, and focusing on the advancement of the SMR brand. We envision SMR Clubbers sharing alpha in Discord, building GameFI and IRL businesses together, trading NFTs and art, sponsoring exclusive IRL events, and having a great time.
      .section__subsection.halfvr
        h3 Team
        p SMR Team competes against other teams and guilds inside the DeRace ecosystem. DERCArmy competitions and sponsored DeRace races are our bread and butter, but other opportunities will present themselves. We leverage all SMR resources to set records, win prizes, and emblazon the SMR brand deep in the memory banks of the metaverse.
      .section__subsection.halfvr
        h3 Pool
        p We know that we can do more together. Trustfully pooling resources has been a marquee of the SMR culture from SMR’s inception. SMR Pool provides spaces to give and receive in passive ways by contributing resources that strengthen SMR members and SMR success.
      .section__subsection.halfvr
        h3 Betting
        p The DeRace Roadmap includes gambling elements. The SMR Partners/owners will pay special attention to this aspect of the DeRace future with the potential of launching our own services and resources who want to use SMR’s elite data and analytics capacity for side bets and wagers.