extends layout

block content
  include includes/header.pug

  #main.section
    .spacer
    h1.section__header SMR Academy Services

    .section__text#introduction
      h2.hr Introduction
      p.halfvr $tone Motherless Racing (SMR) Academy gives you a competitive edge inside the DeRace ecosystem. We can save you time & energy and we have the insight to help everyone make money in the DeRace Play2Earn economy.

    .section__text#assessments
      h2.hr Assessments
      p.halfvr Past performance predicts future success. Our algorithms will help you win more often, but they need data. The more races a horse has run, the stronger our recommendations, and the more accurate our future earning projections.
      p.halfvr While you can always enter hundreds of races manually, the SMR Academy offers you flexible assessment tools to automate your racing and get the guidance you're looking for, quickly.
      p.halfvr Here’s how it works… We provide you access to our trustless smart contract, which lets you make racing decisions based on your own budget and goals. Once your horse is securely enrolled into the smart contract, the Academy will systematically guide your horse through a series of races, working day and night to test the horse's performance across hippodromes and gather the information needed for actionable recommendations.
      p.halfvr Use it as a ‘set and forget’ strategy, or stop it any time; the power is in our smart contract, and the contract is under your control.
      p.halfvr Only want to test your horse on turf? No problem. Only want to run in 1 $DERC races? You got it. Our assessment process lets you go all-in, or allows for you to selectively test your horse, as well as how quickly you want to do it. You choose your own strategy. 
      table.halfvr
        tr
          th Assessment Type
          th # Of Races
          th Pricing
        tr
          td Trial
          td 10 random races
          td Free
        tr
          td Level 1
          td 10 races per furlong, per surface
          td
            p 2.5 $DERC per race
            p (Est. 675 $DERC)
        tr
          td Level 2
          td 20 races per furlong, per surface
          td
            p 2.3 $DERC per race
            p (Est. 920 $DERC)
        tr
          td Level 3
          td 30 races per furlong, per surface
          td
            p 2.1 $DERC per race
            p (Est. 1,134 $DERC)
      p *pricing assumes 1 $DERC entry
      p **estimated based on hippodromes and surfaces at publication time
      p.halfvr (Want your horse assessed but you’re running low on $DERC? We have you covered. See Horse Staking below.)

    .section__text#racing
      h2.hr Racing
      p.halfvr To compete at an elite level, an elite race horse needs an elite trainer. The Academy offers adaptive racing services. We constantly monitor your horses performance and make racing decisions to maximize your earnings.
      p.halfvr Here’s how it works… Enroll your horse into our trustless smart contract and our Adaptive Trainer will analyze your horse’s performance to date, automatically enrolling your horse in races where it has a high probability of a profitable finish. Each race provides additional data for the algorithm to consider, and future races are determined by past race performance. Is your horse having a ‘bad day’ ? We know it happens. We will identify it as soon as possible and rest your horse for 24 hours to minimize your losses. Ultimately we want to do all the hard work so you can sit back and watch your horse win and your earnings grow.
      p.halfvr Alternatively, if you don’t want to leave your success in the hands of an algorithm, you can choose the surface and furlong combination yourself, and our service will keep running the horse… rain, hail, or shine.
      table.halfvr
        tr
          th Service*
          th Description
          th Costs
          th Returns
        tr
          td Basic Racing
          td Your parameters, you're the boss.
          td Entry Fee + 10%
          td 100% Winnings**
        tr
          td Adaptive Racing
          td Your horse, our algorithms.
          td 200 $DERC
          td 50% Earnings***
        tr
          td Elite Racing
          td Secret Sauce. Our Best Algorithms. By Invitation Only.
          td 500 $DERC
          td 50% Earnings***
      p *horse must have completed at least a Level 1 assessment
      p **winnings defined as full prize
      p ***earnings defined as prize minus entry fee 

    .section__text#consultation
      h2.hr Consultation
      p.halfvr Let’s be real… DeRace can be costly, especially if you don’t feel confident in what you’re doing. We understand that The Academy services exceed some horse owners’ budgets, however we don’t want anyone left out of the game.


    .section__text#staking
      h2.hr Horse Staking (aka Summer Camp) (UNDER CONSTRUCTION)
      p.halfvr Let’s be real… DeRace can be costly, especially if you don’t feel confident in what you’re doing. We understand that The Academy services exceed some horse owners’ budgets, however we don’t want anyone left out of the game.
      p.halfvr To ensure an inclusive environment, we developed our staking service. Think of it as being like a summer camp for horses. After enrolling your horse for as little as 0 $DERC, your horse is sent to the SMR Stables for a period of time where it will race 24/7 while you live your best life.
      p.halfvr While at Summer Camp, your horse is Assessed and then enrolled into our Adaptive Training services. At the end of summer camp you get your horse back with a percentage of any earnings, hundreds of races added to your horse's career, a full Insight Report on its performance, and eligibility for inclusion into our Adaptive Training program.
      p.halfvr Our Summer Camp options are as follows:
      table
        tr
          th Time
          th Cost
          th Profit Share
        tr
          td 2 months
          td 50 $DERC
          td 20% profits returned at end of staking
        tr
          td 3 months
          td 25 $DERC
          td 30% profits returned at end of staking
        tr
          td 4 months
          td 0 $DERC
          td 40% profits returned at end of staking

    .section__text#statistics
      h2.hr Statistics (UNDER CONSTRUCTION)
      p.halfvr Do you have performance questions about your horse, or any horse in the DeRace game? Just ask. We have the data, the analysis, and performance insights on every horse. Every start, every furlong, every race, every time.
      ul.halfvr
        li
          strong 24/7 Performance Statistics
          | : Free

    .section__text#insights
      h2.hr Insights (UNDER CONSTRUCTION)
      p.halfvr Having 24/7 access to per-race performance stats will give you an edge, but it doesn't stop there. Our Academy Insights report provides an in-depth analysis of your horse’s lifetime performance Not only will your report leverage the most robust and precise data in the DeRace metaverse, Academy Insights provides actionable information that helps you make better racing decisions, immediately.
      p.halfvr If you’re looking for an edge, our advanced report provides a comparative analysis of your horse against top competitors, giving you a deeper understanding of your horse's strengths. Our racing recommendations are designed to increase your winnings.
      table.halfvr
        tr
          th Service
          th Price
        tr
          td Basic Insight
          td 7 $DERC
        tr
          td Advanced Insight
          td 10 $DERC